body {
    background: #2B2E35;
    color: white;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }

main {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#enter {
    border-radius: 5px;
    width: 150px;
    font-weight: 700;
}

#ps {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-weight: 700;
}

#cbm {
    display: flex;
    flex-direction: row;
}

.coin {
   background-color: rgba(0, 0, 0,0.4);
   font-size: 15px;
   margin: 7px;
   padding: 7px;
   width: 140px;
   display: flex;
   justify-content: space-between;
   border-radius: 5px;
}

#oo {
    height: 62vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.03);
    padding-bottom: 20px;
}

#valor {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}

#enter {
    text-align: center;
    padding: 8px;
    width: 150px;
    min-height: 20px;
    border: none;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 15px;
}

h1 {
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

#ps {
    text-align: center;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 7px;
    background-color: rgb(153, 255, 127);
    font-size: large;
}

.p {
    margin-top: 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    height: 50vh;
    overflow-y: scroll;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.p::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255, 0.1);
}
.p::-webkit-scrollbar {
    width: 10px;
}

#a1 {
    color: white;
    width: 160px;
    height: 70px;
}

