body {

background: #2B2E35;

}

#enter {
    border-radius: 5px;
    width: 150px;
}

#ps {
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

#cbm {
    display: flex;
    flex-direction: row;
}

.coin {
   background-color: rgba(255, 255, 255, 0.1);
   margin: 5px;

}
